[serverinfo]
TEAMSPEAK_IP=my.host.name
TEAMSPEAK_PORT=10000
TEAMSPEAK_SID=10000
TEAMSPEAK_CLIENT_RECV=username
TEAMSPEAK_PASSWD_RECV=password
TEAMSPEAK_CLIENT_SEND=username
TEAMSPEAK_PASSWD_SEND=password